
<div class="bigbox">
	<div class="box">

		<% @posts.each do |post| %>
			
				<ul>
					<div class="up-down">
						<%= link_to like_post_path(post), method: :put, class: 'up' do %>
							<p><i class="fa fa-chevron-up"></i></p>
						<% end %>
					</div>
					<div class="post-box">
					  <h3><%= post.title %></h3>

					  <li><%= auto_link(post.url) %></li>
					  <li><%= post.get_upvotes.size %> points</li>
					  <li class="bold"><%= post.user.username %></li>
					  <li class="date"><%= time_ago_in_words(post.created_at) %> ago</li>
					  <li class="author"></li>
					</div>
			  </ul>
			
		<% end %>
		
	</div>
</div>